.custom-modal {
    width: 88%;
}

.large-screen-locations, .smaller-screen-locations {
    display: none;
}

@media screen and (max-width: 766px) {

    .smaller-screen-locations {
        display: block;
    }

}

@media screen and (min-width: 767px) {

    .large-screen-locations {
        display: block;
    }
}

.pdf-menu {

}

.menu-button, .menu-button-directions {
    width: 100%;
}

.menu-button-directions {
    background: #c80000;
}

.menu-button {
    background: #ffffff;
}


.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
     margin-left: 0;
}