.large-screen-locations, .smaller-screen-locations {
    display: none;
}

@media screen and (max-width: 766px) {

    .smaller-screen-locations {
        display: block;
    }

}

@media screen and (min-width: 767px) {

    .large-screen-locations {
        display: block;
        width: 100%;
    }
}